################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.sqlite
/.vs/-CMP_2nd_Year_1st_Term_Assembly8086_2P-Game_Project/v16/.suo
Snake2.asm
